<div class="evidence media">
	<h3>{{ evidence.message_html|safe }}</h3>
	<div class="media-body">

		<strong>Title: {{ evidence.title }} </strong>
		<p>Contributor's Note: {{ evidence.contributors_note }}</p>
		<p>Publisher: {{ evidence.publisher }}</p>
		<p>Content Type: {{ evidence.content_type }}</p>
		<p>Research Type: {{ evidence.research_type }}</p>
		<strong>Added to {{ evidence.category }} by {{ evidence.user.username }} on {{ evidence.created_at }} </strong>
		<p>Last updated: {{ evidence.last_updated }}</p>
		<p><a href=" {{ evidence.website }}" >Link to Evidence</a></p>
		<p><a class="btn btn-default" href="{% url 'evidence:evidence_update' pk=evidence.pk %}">Update this Evidence</a></p>
		<p><a class="btn btn-primary" href="{% url 'evidence:filtered_evidence' slug=evidence.category.slug %}">View the Category</a></p>
		<p><a class="btn btn-danger" href="{% url 'evidence:evidence_delete' pk=evidence.pk %}">Delete Evidence</a></p>

		<h2>Analysis Summary</h2>
		<p> Evidence Strength: insert something dynamic to make me pretty </p>
		<h5>Key Findings</h5>
		<p> - {{ analysis.key_finding1 }}</p>
		<p> - {{ analysis.key_finding2 }}</p>
		<p> - {{ analysis.key_finding3 }}</p>

		<p><a class="btn btn-default" href="{% url 'evidence:add_analysis_to_evidence' pk=evidence.pk %}">Analyse Evidence</a></p>


		<strong> Detailed Analysis </strong>

		<hr>
			{% for analyses in evidence.analysis.all %}
			    <div class="analysis">
						<br>
							<h4>{{ analyses.title }}</h4>
							<div class="date">{{ analyses.created_at }}</div>
			        <strong>By {{ analyses.analyst }}</strong>

			        <p><strong> Content Rating Area 1 </strong> {{ analyses.content_rating_1 }}</p>
							<p>{{ analyses.content_rating_1_comment }}</p>

							<p><strong> Content Rating Area 2 </strong> {{ analyses.content_rating_2 }}</p>
							<p>{{ analyses.content_rating_2_comment }}</p>

							<p><strong> Content Rating Area 3 </strong> {{ analyses.content_rating_3 }}</p>
							<p>{{ analyses.content_rating_3_comment }}</p>

							<p><strong> Content Rating Area 4 </strong> {{ analyses.content_rating_4 }}</p>
							<p>{{ analyses.content_rating_4_comment|linebreaks }}</p>
						</br>
			    </div>
			{% empty %}
			    <p>No analysis here yet :(</p>
			{% endfor %}
		</hr>






<h6>Later, we'll add ratings here if any are given. Naturally, with logic around being logged in</h6>


		</div>
	</div>
</div>
