<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../images/logo.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0 search-box">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fas fa-search"></i>
                    </span>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search for evidence" aria-label="Search">
                </div>
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            </form>
        </div>
        <span class="notification">
            <i class="fas fa-bell"></i>
        </span>
        <span class="user-account">
            <img src="../images/user.png" />
        </span>
    </div>
</nav>
